<!--
    Title: _header.ejs
    Author: Professor Krasso
    Date: 5 February 2023
    Modified By: Anachebe Asomugha
    Description: header for
     WEB 340 Pets-R-Us Assignment
-->
<header>
    <section class="navbar"> <!-- Site Navigation -->
        <a href="/">Home</a>
        <a style="margin-left: 20px;" href="/grooming">Grooming</a>
        <a style="margin-left: 20px;" href="/training">Training</a>
        <a style="margin-left: 20px;" href="/boarding">Boarding</a>
        <a style="margin-left: 20px;" href="/register">Register</a>
    </section> <br>
    <h1 class="title"><%= pageTitle %></h1> <!-- Heading -->
    
    
</header>