<!--
    Title: _footer.ejs
    Author: Professor Krasso
    Date: 5 February 2023
    Modified By: Anachebe Asomugha
    Description: footer for
     WEB 340 Pets-R-Us Assignment
--> 
<footer>
    <p style="text-align: center;">Photos Courtesy of Unsplash.com &nbsp;</p>
    <p style="text-align: center;">   &copy; Anachebe Asomugha &nbsp;
        <script>document.write(new Date().getFullYear())</script>
    </p>
</footer>
