<header>
    <section class="navbar"> <!-- Site Navigation -->
        <a href="/">Home</a>
        <a style="margin-left: 20px;" href="/grooming">Grooming</a>
        <a style="margin-left: 20px;" href="/training">Training</a>
        <a style="margin-left: 20px;" href="/boarding">Boarding</a>
    </section> <br>
    <h1 class="title"><%= pageTitle %></h1> <!-- Heading -->
    
    
</header>