<!--
    Title: grooming.ejs
    Author: Professor Krasso
    Date: 29 January 2023
    Modified By: Anachebe Asomugha
    Description: ejs code for
     WEB 340 Pets-R-Us Assignment
--> 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title><%= title %></title>

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/styles/site.css">

    <!--Font Family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('_header.ejs') %>
 
    <div id="container">

        <div class="textCard">     
            <div class="card">   <!-- Welcome Message card -->
                
                <div class="card-content" style="border-bottom: 8px solid #00b4d8; border-top: 8px solid black;">
                    <h2>Welcome to Pets-R-Us <br> The one-stop-shop for all of your pet care needs. </h2>
                </div>        
            </div>            
        </div> 
        
        <br>
        
        <div class="textCard">     <!-- Basic-Tier Grooming Package card -->
            <div class="card">   

                <div class="card-title"> Just The Basics</div>

                <div class="card-content">
                    <p class="para-center">Sometimes you just need to get in and get out. No <br> 
                        need for all of the extras. This package excludes <br> 
                        all of the peripheral luxuries that, frankly, we just <br>
                        don’t always have the time for. Our Just-The-Basics <br>
                        package has all of the necessities. This includes an <br>
                        Oatmeal Shampoo bath with conditioner. A Blow-dry is <br>
                        next, followed by a brush. This package ends with an <br>
                        ear cleaning and, of course, nail trimming. <br> <br>
                        <b> Estimated time:</b> <u>30-35 minutes</u>  <br>
                        <b>Price Range </b> (by size and complexity): <u>$30 - $60</u> 
                    </p>
                </div>        
            </div>            
        </div> 
<br>
        <div class="textCard">     <!-- Mid-Tier Grooming Package -->
            <div class="card">   

                <div class="card-title"> A Little Extra </div>

                <div class="card-content">
                    <p class="para-center">You’ve got a little extra time in your day, and you want to <br>
                        spend it on your furry little monsters? We love it! <br>
                        Our “A Little Extra” package includes the Oatmeal and <br>
                        shampoo, conditioner, blow-dry, brush, ear cleaning, nail <br>
                        trimming of the Basic package. With extra time, however, <br>
                        comes extra service! This package adds teeth brushing, <br>
                        sanitary cleaning, face and tail trim, feet and paw pad <br>
                        trim, and puppy cologne to keep monster smelling fresh. <br><br>
                        <b> Estimated time:</b> <u> 45 - 60 minutes</u>  <br>
                        <b> Price Range</b> (by size and complexity): <u>$50 - $80</u> 

                    </p>
                </div>        
            </div>            
        </div> 

        <br>

        <div class="textCard">     <!-- High-Tier Grooming Package -->
            <div class="card">   
                
                <div class="card-title"> The Whole She-bang </div>

                <div class="card-content">
                    <p class="para-center">Today, you’ve budgeted enough time to pull out allll the <br>
                        stops! You want to pamper your pooch, and nothing is <br>
                        going to stop you! Our “The Whole Shebang” package <br>
                        takes our previous packages and adds a full body hair trim, <br>
                        nail polish, and hair bows or a bandana for the pups that like <br>
                        to live on the edge! <br><br>
                        <b> Estimated time:</b> <u>75 - 120 minutes</u>  <br>
                        <b> Price Range</b> (by size and complexity): <u> $100 - $125</u>

                    </p>
                </div>        
            </div>            
        </div> 
    
    </div>



    <%- include('_footer.ejs') %>    
    
</body>
</html>