<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="/styles/pet-site.css">

    <!--Font Family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section class="navbar">
            <a href="/">Home</a>
            <a style="margin-left: 20px;" href="/grooming">Grooming</a>
        </section> <br>
        <h1 class="title"><%= pageTitle %></h1>
        
        
    </header>
      

    
    
    
    <div id="container">

        <div class="textCard">     
            <div class="card">   
                
                <div class="card-content" style="border-bottom: 8px solid #00b4d8; border-top: 8px solid black;">
                    <h2>Welcome to Pets-R-Us <br> The one-stop-shop for all of your pet care needs. </h2>
                </div>        
            </div>            
        </div> 
        
        <br>
        
        <div class="textCard">     
            <div class="card">   

                <div class="card-title"> Just The Basics</div>

                <div class="card-content">
                    <p>Sometimes you just need to get in and get out. No <br> 
                        need for all of the extras. This package excludes <br> 
                        all of the peripheral luxuries that, frankly, we just <br>
                        don’t always have the time for. Our Just-The-Basics <br>
                        package has all of the necessities. This includes an <br>
                        Oatmeal Shampoo bath with conditioner. A Blow-dry is <br>
                        next, followed by a brush. This package ends with an <br>
                        ear cleaning and, of course, nail trimming. <br> <br>
                        Estimated time: <u>30-35 minutes</u>  <br>
                        Price Range (by size and complexity): <u>$30 - $60</u> 
                    </p>
                </div>        
            </div>            
        </div> 
<br>
        <div class="textCard">     
            <div class="card">   

                <div class="card-title"> A Little Extra </div>

                <div class="card-content">
                    <p>You’ve got a little extra time in your day, and you want to <br>
                        spend it on your furry little monsters? We love it! <br>
                        Our “A Little Extra” package includes the Oatmeal and <br>
                        shampoo, conditioner, blow-dry, brush, ear cleaning, nail <br>
                        trimming of the Basic package. With extra time, however, <br>
                        comes extra service! This package adds teeth brushing, <br>
                        sanitary cleaning, face and tail trim, feet and paw pad <br>
                        trim, and puppy cologne to keep monster smelling fresh. <br><br>
                        Estimated time: <u>45 - 60 minutes</u>  <br>
                        Price Range (by size and complexity): <u>$50 - $80</u> 

                    </p>
                </div>        
            </div>            
        </div> 

        <br>

        <div class="textCard">     
            <div class="card">   
                
                <div class="card-title"> The Whole Shebang </div>

                <div class="card-content">
                    <p>Today, you’ve budgeted enough time to pull out allll the <br>
                        stops! You want to pamper your pooch, and nothing is <br>
                        going to stop you! Our “The Whole Shebang” package <br>
                        takes our previous packages and adds a full body hair trim, <br>
                        nail polish, and hair bows or a bandana for the pups that like <br>
                        to live on the edge! <br><br>
                        Estimated time: <u>75 - 120 minutes</u>  <br>
                        Price Range (by size and complexity): <u> $100 - $125</u>

                    </p>
                </div>        
            </div>            
        </div> 





        
    </div>



    <footer><p>&copy; Anachebe Asomugha &nbsp;&nbsp;&nbsp;<script >document.write(new Date().getFullYear())</script></p></footer>
    
</body>
</html>