<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title><%= title %></title>

    <link rel="stylesheet" type="text/css" href="/styles/pet-site.css">

    <!--Font Family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <section class="navbar">
            <a href="/">Home</a>
            <a style="margin-left: 20px;" href="/grooming">Grooming</a>
        </section> <br>
        <h1 class="title"><%= pageTitle %></h1>
        
        
    </header>
      

    
    
    
    <div id="container">

        <div class="textCard">     
            <div class="card">   
                
                <div class="card-content" style="border-bottom: 8px solid #00b4d8; border-top: 8px solid black;">
                    <h2>Welcome to Pets-R-Us <br> The one-stop-shop for all of your pet care needs. </h2>
                </div>        
            </div>            
        </div> 
        <br>
        
        <div class="textCard">     
            <div class="card">   
                <div class="card-title">Grooming</div>

                <div class="card-content">
                    <p>Has your princely pooch been prancing and plopping <br>
                        through puddles of mud? Has your queenly cat been <br>
                        coughing up fur balls, crafting cacophonous coughing <br>
                        concerts, keeping you up throughout the night? If this<br> 
                        is the case, then you’re just in luck. Pets-R-Us is excited <br>
                        to present to you our brand-new Grooming service, rolling <br>
                        out nationwide in every Pets-R-Us location. Now your pet <br>
                        can look as good to the rest of the world as they do to you,<br>
                        their owner, whose judgement has been blinded by love goggles.<br> 
                        Bring your fur-babies in today! Don’t they deserve to be <a href="/grooming">pampered</a>?

                    </p>
                </div>        
            </div>            
        </div> 
<br>
        <div class="textCard">     
            <div class="card">   
                <div class="card-title">Training</div>
                <div class="card-content">
                    <p>Does your dog’s danger sense go off at the slightest <br>
                        noise from the door? While it can be useful to have a <br>
                        furry alarm at the volume of a storm siren going off every <br>
                         time the delivery truck pulls to a stop outside your home, <br>
                         perhaps its time to curtail that behavior and gain more <br>
                        control. We would love to entice you with our new Training <br>
                        service. A little bit of bootcamp never hurt anyone. Now, we <br>
                        can help you provide the structure and instruction that canines <br>
                        crave. Set up an appointment today to train the howls away! 

                    </p>
                </div>        
            </div>            
        </div> 

        <br>

        <div class="textCard">     
            <div class="card">   
                <div class="card-title">Boarding</div>
                <div class="card-content">
                    <p>When is the last time you got away? Sometimes it is necessary <br>
                        to take a break from the everyday responsibilities of life. But what <br>
                         to do with the dog? At Pets-R-Us, we have the answer to your <br>
                        query. Beginning today, Pets-R-Us is introducing a brand new <br>
                        Boarding service. Now you can step away from the everyday and <br>
                        keep those pesky worries away! Whether your furry loved one need <br>
                        to be cared for short term or long term, we can provide what you <br> 
                        need to have the vacation of your dreams, here at Pets-R-Us!

                    </p>
                </div>        
            </div>            
        </div> 





        
    </div>



    <footer><p>&copy; Anachebe Asomugha &nbsp;&nbsp;&nbsp;<script >document.write(new Date().getFullYear())</script></p></footer>
    
</body>
</html>