<!--
    Title: register.ejs
    Author: Professor Krasso
    Date: 29 January 2023
    Modified By: Anachebe Asomugha
    Description: ejs code for
     WEB 340 Pets-R-Us Assignment
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- CSS Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/styles/site.css">

    <!--Font Family-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <%- include('../partials/_header.ejs') %> <!--Header-->
 
    <div id="container">

        <div class="textCard">     
            <div class="card">   <!-- Welcome Message card -->
                
                <div class="card-content" style="border-bottom: 8px solid #00b4d8; border-top: 8px solid black;">
                    <h2>Welcome to Pets-R-Us <br> The one-stop-shop for all of your pet care needs. </h2>
                </div>        
            </div>            
        </div> 
        
        <br>
<!-- Card housing the Registration Form -->     
        <div class="textCard">     
            <div class="card">   
                
                <div class="card-title"> Registration Form </div>
                <p>Please Enter Your Desired Customer ID and Email Address to Register</p>

                <div class="form">
                    <form action="/customers" method="post">
                        <div class="form-field">
                            <div class="card-content">
                                <div style="margin-left: 5px; margin-right: 100px;">
                                    <label for="customerID"><b>Customer ID:</b></label> <!--Customer ID field-->
                                    <input class="input" id="customerID" name="customerID" placeholder="ImaCustomer123" type="text">  
                                </div>
                                                    
                                    

                                <div style="margin-left: 50px; margin-right: 100px;">
                                    <label for="email"><b>Email:</b></label> <!--Email field-->
                                    <input  class="input" type="text" name="email" placeholder="ImaC123@example.com" id="email">
                                </div>
                                
                                <div>
                                    <input class="btn" type="submit" value = "Sign Me Up!">
                                </div>                                        
                            </div>
                        </div>    
                    </form>            
                </div>
                
            </div>            
        </div>     
    </div>



    <%- include('../partials/_footer.ejs') %>    <!--Footer-->
</body>
</html>