/*
Title: pet-site.css
    Author: Professor Krasso
    Date: 29 January 2023
    Modified By: Anachebe Asomugha
    Description: css styling for
     WEB 340 Pets-R-Us Assignment
*/

body {
    background-color: #caf0f8;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

img {
    margin: 10px;
    border: 2px solid black;
}

.btn {
    border: 2px solid black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: black;
    background-color: #00b4d8;
}
.btn:hover{
    border: 2px solid white;
    background-color: #03045e;
    color: white;
}


/* Card styling */
.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.card-title {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    color: #03045e;
    background-color: #00b4d8;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.textCard {
    width: 600px;
    margin: 3% auto;
    text-align: center;
}

.locationCard {
    width: 600px;
    height: auto;
    margin: 3% auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.trainingCard {
    width: 600px;
    height: auto;
    margin: 3% auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
    
}

/* Navigation bar styling  */
.navbar {
    float: right;
}

/* Styling for text  */
h1 {
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: #03045e;
    background-color: #00b4d8;
    padding: 10px;
}

h2 {
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    font-weight: 400;
}

p {
    font-size: 18px;
    font-weight: 400;
    color: #343a40;
}

.para-left {
    display: block;
    text-align: left;
    word-spacing: 1px;
}

.para-center {
    display: block;
    text-align: center;
}

.para-grid {
    text-align: center;
    padding-right: 20px;
    padding-left: 15px;
}

#testimonial {
    font-weight: 500;
    font-size: 18px;
}

/* anchor styling */
.nav-a {
    font-weight: 500;
    color: #03045e;
    text-decoration: none;
}

.sign-up {
    font-weight: 500;
    color: #03045e;
    text-decoration: none;
}

.nav-a:hover {
    background-color: #48cae4; 
    color: #03045e;
    text-decoration: underline;
}


a:visited {
    color: #03045e;
}

/* Simple button styling */


.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box; 
}

textarea {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box; 
}

.table {
    border-collapse: collapse;
    width: auto;
    margin-bottom: 30px;
    text-align: left;
    color: black;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color:  #00b4d8;
    color: white;
}

td, th {
    border: 1px solid #03045e;
    padding: 12px;
    font-size: 18px;
    font-weight: 400;
}

td:hover, tr:hover {
    background-color: #48cae4;
    color: black;
    cursor: pointer;
}